.com{
    display: flex;
    width: 100%;
    word-break: break-all;
    position: absolute;
    top:30%;
    color: rgb(255, 255, 255);
    padding-top: 10em;
}

.com .left, .com .right{
    width: 50%;
}
.image {
    display: flex;
    width: 100%;
    position: relative;
    top: -10em;
}
.image .left, .image .right{
    width: 50%;
}
.image img {
    border-radius: 10px;
    transition: transform 0.5s;
}
button {
    width: 200px;
    font-size: 24px;
    background-color: #fff0;
    color: white;
    border-radius: 100px;
    height: 60px;
    box-shadow: 1px 3px 9px rgb(0, 0, 0, 0.3);
    border: 1px solid white;
    cursor: pointer;
    transition: transform 0.5s;
}

button:hover{
    width: 200px;
    font-size: 24px;
    background-color: #fff0;
    color: powderblue;
    border-radius: 100px;
    height: 60px;
    box-shadow: 1px 3px 9px rgb(0, 0, 0, 0.3);
    border: 1px solid powderblue;
    cursor: pointer;
    transform: translateY(-10px);
}

.image img:hover {
    transform: translateY(-10px);
}

